<div class="category-benefits">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'usp' %}
        <div id="w-node-_8312cad2-f43b-cf9a-039d-877cc75e618d-ea427bf1" class="announcement-usp category-benefit-colors collection-announcment-{{forloop.index}}">
          <div class="icon-18 collection-announcement-p w-embed"><img src="{{block.settings.column-icon}}"></div>
          <div class="collection-announcement-p">{{block.settings.column-text}}</div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Collection Annoucment",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "usp",
        "name": "Columns",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "column-text",
            "label": "Column"
          }, {
            "type": "url",
            "id": "column-icon",
            "label": "Column Icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Announcment",
        "blocks": [
          {
            "type": "usp"
          }
        ]
      }
    ]
  }
{% endschema %}