<div class="why-section">
  <div class="why-swiper-section">
    <div id="why-swiper" class="product-featured-images swiper">
      <div class="swiper-wrapper collection-wrapper why-grid">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'slide' %}
              <div id="w-node-_8312cad2-f43b-cf9a-039d-877cc75e6314-ea427bf1" class="swiper-slide collection-slide">
                <div class="swiper-why-block">
                  <div class="swiper-why-icon">
                    <div>{{block.settings.emoji}}</div>
                  </div>
                  <div class="swiper-why-content">
                    <div class="text-xl pally-font">{{block.settings.title}}</div>
                    <div class="text-m-3 purple-60-color max-width-why">{{block.settings.description}}</div>
                  </div>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="swiper-pagination-why"></div>
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Last IwT",
    "class": "section",
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "text",
            "id": "emoji",
            "label": "Emoji"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection IwT"
      }
    ]
  }
{% endschema %}