<div class="page-padding">
  <div class="faq-section-title">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'faq-title' %}
    <div class="emoji-circle-2">{{block.settings.emoji}}</div>
    <h1 class="faq-section-h1">{{block.settings.title}}</h1>
  {% endcase %}
{% endfor %}
  </div>
  <div bind="8acc0e6e-90e8-83c0-81fb-4a0e661822f8" class="c-faq">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'faq' %}
    <div bind="8acc0e6e-90e8-83c0-81fb-4a0e661822f9" data-click="faq" class="c-faq-item faq-page">
      <div bind="8acc0e6e-90e8-83c0-81fb-4a0e661822fa" class="c-faq-q faq-page">
        <div bind="8acc0e6e-90e8-83c0-81fb-4a0e661822fb" class="c-faq-q-text">
          <div bind="8acc0e6e-90e8-83c0-81fb-4a0e661822fc" class="faq-q-text faq-page">{{block.settings.question}}</div>
        </div>
        <div bind="8acc0e6e-90e8-83c0-81fb-4a0e661822fe" class="c-faq-icon faq-page">
          <div bind="8acc0e6e-90e8-83c0-81fb-4a0e661822ff" class="_w-faq-icon">
            <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" fill="none" viewbox="0 0 16 9">
                <path fill="currentcolor" fill-rule="evenodd" d="M13.366.616a1.25 1.25 0 0 1 1.768 1.768l-6.25 6.25a1.25 1.25 0 0 1-1.768 0l-6.25-6.25A1.25 1.25 0 1 1 2.634.616L8 5.982 13.366.616Z" clip-rule="evenodd"></path>
              </svg></div>
          </div>
        </div>
      </div>
      <div bind="8acc0e6e-90e8-83c0-81fb-4a0e66182302" class="c-faq-a">
        <div bind="8acc0e6e-90e8-83c0-81fb-4a0e66182303" class="c-faq-a-text faq-page">
          <div bind="8acc0e6e-90e8-83c0-81fb-4a0e66182304" class="faq-a-text">{{block.settings.answer}}</div>
        </div>
      </div>
    </div>
  {% endcase %}
{% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Page FAQ",
    "tag": "section",
    "class": "finds",
    "max_blocks": 50,
    "blocks": [
      {
        "name": "FAQ Title",
        "type": "faq-title",
        "settings": [
          {
            "type": "text",
            "id": "emoji",
            "label": "emoji"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }, {
        "name": "FAQ",
        "type": "faq",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}