<section class="categories-swiper-section">
  <div class="page-padding-7">
    <div class="container-v5">
      <div class="collection-slider-title">THESE TIKTOK FINDS ARE GOING WILD 🔥</div>
      <div data-delay="4000" data-animation="slide" class="categories-slider-collection-page w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="6" data-duration="500" data-infinite="false">
        <div class="categorie-item-2 w-slider-mask">
          <div class="categorie-item-slide-2 w-slide">
            <a href="#" class="categorie-card w-inline-block">
              <div class="categorie-symbol-2">
                <div class="image-framed"><img src="images/Screenshot-2022-11-10-at-00.57.45.png" loading="lazy" alt="" class="img-collection"></div>
              </div>
              <div class="categorie-info-wrapper-2">
                <div class="categorie-information-3">
                  <p class="categories-p">Print Editions</p>
                </div>
              </div>
            </a>
          </div>
          <div class="categorie-item-slide-2 w-slide">
            <a href="#" class="categorie-card w-inline-block">
              <div class="categorie-symbol-2">
                <div class="image-framed"><img src="images/Screenshot-2022-11-10-at-00.57.45.png" loading="lazy" alt="" class="img-collection"></div>
              </div>
              <div class="categorie-info-wrapper-2">
                <div class="categorie-information-3">
                  <p class="categories-p">Print Editions</p>
                </div>
              </div>
            </a>
          </div>
          <div class="categorie-item-slide-2 w-slide">
            <a href="#" class="categorie-card w-inline-block">
              <div class="categorie-symbol-2">
                <div class="image-framed"><img src="images/Screenshot-2022-11-10-at-00.57.45.png" loading="lazy" alt="" class="img-collection"></div>
              </div>
              <div class="categorie-info-wrapper-2">
                <div class="categorie-information-3">
                  <p class="categories-p">Print Editions</p>
                </div>
              </div>
            </a>
          </div>
          <div class="categorie-item-slide-2 w-slide">
            <a href="#" class="categorie-card w-inline-block">
              <div class="categorie-symbol-2">
                <div class="image-framed"><img src="images/Screenshot-2022-11-10-at-00.57.45.png" loading="lazy" alt="" class="img-collection"></div>
              </div>
              <div class="categorie-info-wrapper-2">
                <div class="categorie-information-3">
                  <p class="categories-p">Print Editions</p>
                </div>
              </div>
            </a>
          </div>
          <div class="categorie-item-slide-2 w-slide">
            <a href="#" class="categorie-card w-inline-block">
              <div class="categorie-symbol-2">
                <div class="image-framed"><img src="images/Screenshot-2022-11-10-at-00.57.45.png" loading="lazy" alt="" class="img-collection"></div>
              </div>
              <div class="categorie-info-wrapper-2">
                <div class="categorie-information-3">
                  <p class="categories-p">Print Editions</p>
                </div>
              </div>
            </a>
          </div>
          <div class="categorie-item-slide-2 w-slide">
            <a href="#" class="categorie-card w-inline-block">
              <div class="categorie-symbol-2">
                <div class="image-framed"><img src="images/Screenshot-2022-11-10-at-00.57.45.png" loading="lazy" alt="" class="img-collection"></div>
              </div>
              <div class="categorie-info-wrapper-2">
                <div class="categorie-information-3">
                  <p class="categories-p">Print Editions</p>
                </div>
              </div>
            </a>
          </div>
          <div class="categorie-item-slide-2 w-slide">
            <a href="#" class="categorie-card w-inline-block">
              <div class="categorie-symbol-2">
                <div class="image-framed"><img src="images/Screenshot-2022-11-10-at-00.57.45.png" loading="lazy" alt="" class="img-collection"></div>
              </div>
              <div class="categorie-info-wrapper-2">
                <div class="categorie-information-3">
                  <p class="categories-p">Print Editions</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="product12_arrow left w-slider-arrow-left"><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031620b764aee7b_icon_slider-arrow-left.svg" loading="lazy" alt="" class="image-5"></div>
        <div class="product12_arrow w-slider-arrow-right"><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/6243807090316275724aee79_icon_slider-arrow-right.svg" loading="lazy" alt="" class="image-5"></div>
        <div class="categories-dots-2 w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Tiktok Finds",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "number_of_products_to_show",
        "min": 4,
        "max": 12,
        "default": 4,
        "label": "Number of products to show"
      }
    ],
    "presets": [
      {
        "name": "Tiktok Finds"
      }
    ]
  }
{% endschema %}